[user]
    name = kid
    email = 184937612@qq.com

[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    au = add -u .
    ll = log --oneline --graph
    d = difftool
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --

[diff]
    tool = vimdiff

# not master
[init]
	defaultBranch = main

# MacOS
[credential]
	helper = osxkeychain

# Linux
#[credential]
#	helper = 'cache --timeout=604800'

