############################## MacOS  ##############################
.DS_Store
._.DS_Store
Thumbs.db

############################## IDE    ##############################
.vscode/
.idea/

############################## gitkeep    ##############################
!/**/.gitkeep


############################## project    ##############################


