[user]
    name = kid
    email = 184937612@qq.com

[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    au = add -u .
    ll = log --oneline --graph
    d = difftool

[diff]
    tool = vimdiff


[init]
	defaultBranch = main

# MacOS
[credential]
	helper = osxkeychain

# Linux
#[credential]
#	helper = 'cache --timeout=604800'

